<div class="card">
  <div class="card-header">
    <h2 class="card-title">Flight Search</h2>
  </div>

  <div class="card-body">

    <app-flight-filter
      [from]="from"
      [to]="to"
      (searchTrigger)="updateFilter($event)"
    >
    </app-flight-filter>

    Current Filter value Flight Search:
    <span style="font-weight: bold;">
      {{ from }} - {{ to }}
    </span>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let flight of flights"
    class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <app-flight-card [item]="flight" [(selected)]="basket[flight.id]"></app-flight-card>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <pre>{{ basket | json }}</pre>
  </div>
</div>
